.logo {
	display: inline-blocki;
	margin-top: 18px;
	margin-left: 20px;
	margin-right: 92px;
	margin-bottom: 17px;
	color: #FA6980;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #F6F8F9;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 27px;
	margin-bottom: 18px;
}
.header-wraper {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
  height: 50px;
}

.chrisimage {
	display: inline-block;
	vertical-align: middle;
	margin-right: auto;
}

.headerfonts {
	font-size: 11px;
	margin-right: 27px;
	font-family: 'Roboto', sans-serif;
}
.active {
	color: black;
	font-weight: bold;
}
.firstdiv {
	  width: 1160px;
    height: 410px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
}
.h2 {
	font-size: 24px;
	margin-bottom: 40px;
}
.divbox {
	  background-color: #FFFFFF;
    margin-right: 20px;
    width: 360px;
    height: 350px;
    vertical-align: top;
    display: inline-block;
}
.image-wraper {
	position: relative;
	margin-bottom: 66px;
}
.text-image {
	  position: absolute;
    bottom: 136px;
    left: 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.textdiv {
	width: 320px;
	height: 38px;
	line-height: 20px;
}
.paragraph1 {
	margin-top: 66px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 66px;
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.date {
	  margin-top: 20px;
	  padding-left: 40px;
    padding-bottom: 40px;
}
.timeicon {
	display: inline-block;
	vertical-align: middle;
}
.textdate {
	  display: inline-block;
	  font-size: 13px;
    color: #A6ADB4;
    vertical-align: middle;
}
.seconddiv {
	  width: 1160px;
    height: 960px;
    margin: 58px auto 37px auto;
}
.divbox2 {
	margin-bottom: 40px;
	font-weight: bold;
}
.left-side {
	vertical-align: top;
	width: 760px;
	display: inline-block;
}
.bridge {
	margin-bottom: 40px;
	margin-right: 40px;
}
.trees {
	margin-right: 40px;
	margin-bottom: 33px;
}
.right-side {
	width: 360px;
	display: inline-block;
}
.elephant {
	margin-bottom: 100px;
	width: 360px;
	height: 210px;
}
.parrot {
	 width: 360px;
	height: 210px;
	margin-bottom: 100px;
}
.road {
	width: 360px;
	height: 210px;
	margin-bottom: 99px;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
	
}
.footerwraper{
    width: 1160px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}
.footerlogo {
	font-size: 13px;
	color: white;
	font-weight: bold;
	display: inline-block;
  padding-top: 56px;
  padding-bottom: 129px;
  vertical-align: top;
  margin-right: 90px;
}
.footerul1 {
	display: inline-block;
	vertical-align: top;
  padding-top: 59px;
}
.footerli {
	margin-bottom: 8px;
}
.footerparagraph {
	font-size: 13px;
	color: #CBD0D3;
	font-weight: bold;
}
.footerul2 {
	display: inline-block;
	vertical-align: top;
  padding-top: 59px;
  margin-left: 90px;
}
.footerul3 {
	display: inline-block;
	vertical-align: top;
  padding-top: 59px;
  margin-left: 90px;
}
.footerparagraph2 {
	display: inline-block;
	vertical-align: top;
  padding-top: 56px;
  margin-left: 110px;
  font-size: 11px;
  color: #CBD0D3;
}
.footerdivicons {
	width: 300px;
	height: 25px;
	display: inline-block;
}
.instagram {
	display: inline-block;
	margin-left: 165px;
	margin-right: 15px;
	padding-top: 59px;
}
.twitter {
  display: inline-block;
	margin-right: 15px;
	padding-top: 59;
}
.fb {
	display: inline-block;
	margin-right: 15px;
	padding-top: 59;
}
.web {
	display: inline-block;
	padding-top: 59;
}